@* @model Application.DTO.Categorys.CreateUpdateCateoryRequest
<!-- Hiển thị thông báo từ TempData -->
<div>
    @if (TempData["Category"] != null)
    {
        <h3 class="text-red-500">@TempData["Category"]</h3>
    }
</div>
<div class="bg-gray-50 dark:bg-gray-900">
    <!-- Modal Thêm Danh Mục -->
    <div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50" id="addCategoryModal">
        <div class="bg-white w-1/2 p-6 rounded-lg shadow-lg dark:bg-gray-800">
            <div class="flex items-center justify-between mb-3">
                <h2 class="text-lg font-semibold text-gray-800 dark:text-gray-100">
                    Thêm Danh Mục Mới
                </h2>
            </div>

            <!-- Form gửi dữ liệu đến controller -->
            <form asp-action="CreateCategory" method="post">
                <div class="mb-4">
                    <label asp-for="type_name" class="block text-sm font-medium text-gray-800 dark:text-gray-100">Tên danh mục</label>
                    <input asp-for="type_name" class="form-control w-full p-2 mt-1 text-sm text-gray-800 border border-gray-300 rounded-lg dark:text-white focus:ring-blue-500 focus:border-blue-500" />
                    <span asp-validation-for="type_name" class="text-red-500 text-sm"></span>
                </div>
                <div class="flex justify-end">
                    <button asp-action="GetAllCategory" asp-controller="Category" class="px-6 py-3 bg-red-500 text-white rounded-lg shadow-md hover:bg-red-600 transition">
                        Hủy
                    </button>
                    <button type="submit" class="ml-3 px-6 py-3 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition">
                        Lưu
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@