.size-button.active {
    background-color: #4a5568;
    color: #fff;
}

.enabled {
    background-color: #2d3748;
    color: #fff;
}

/* .hidden {
    display: none;
} */
.toggle-arrow {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .toggle-arrow span {
        display: inline-block;
        transition: transform 0.3s ease;
    }

    .toggle-arrow.active span {
        transform: rotate(-180deg);
    }
