.size-button.active {
    background-color: #4a5568; 
    color: #fff; 
}
.enabled {
    background-color: #2d3748; 
    color: #fff; 
}

/* .hidden {
    display: none;
} */
.toggle-arrow {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-arrow span {
    display: inline-block;
    transition: transform 0.3s ease;
}
.toggle-arrow.active span {
    transform: rotate(-180deg);
}

.payment-option.selected {
    background-color: #EBF4FF;
    border-left: 4px solid #3B82F6;
}
.radio-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #D1D5DB;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.radio-custom.selected {
    border-color: #3B82F6;
}
.radio-custom.selected:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #3B82F6;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}
.payment-option {
    transition: all 0.2s ease;
}