@model List<Application.Entities.Category>
@foreach (var item in Model)
{
    <li>
        <a asp-controller="Home" asp-action="ProductCate" asp-route-id="@item.type_id" class="text-gray-700 hover:text-blue-600 text-lg font-medium relative group py-2">
            @item.type_name
            <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-blue-600 group-hover:w-full transition-all duration-300"></span>
        </a>
    </li>
}
