@model List<Application.Entities.Category>
<a class=" dropdown-toggle" style="float:left" href="#" id="navbarDropdownMenuLink" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-users"></i>
        Danh Muc
    </a>
    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
        @foreach (var item in Model)
        {
        <a class="dropdown-item nav-link" asp-area="" asp-controller="Product" asp-route-type_id="@item.type_id" asp-action="ProductCate"> @item.type_name</a>
        }
    </ul>
